$color-dark-1000: rgb(0, 0, 0);
$color-dark-900: rgb(3, 11, 28);
$color-dark-700: rgb(4, 12, 40);
$color-dark-600: rgb(5, 17, 46);
$color-dark-500: rgb(6, 19, 50); // Also used in favicon.svg
$color-dark-300: rgb(142, 151, 171);
$color-dark-200: rgb(206, 217, 240);

$color-bright-500: rgb(238, 238, 238);
$color-bright-400: rgb(233, 238, 242);
$color-bright-300: rgb(247, 249, 250);
$color-bright-200: rgb(251, 251, 252);
$color-bright-100: rgb(255, 255, 255);

$color-green-800: rgb(56, 153, 108);
$color-green-400: rgb(92, 247, 151); // Also used in favicon.svg

$text-color-bright-background: $color-dark-900;
$text-color-green-400-background: $color-dark-1000;