$color-dark-1000: rgb(3, 3, 4);
$color-dark-900: rgb(13, 15, 17);
$color-dark-800: rgb(16, 35, 63);
$color-dark-700: rgb(18, 23, 29);
$color-dark-500: rgb(97, 107, 117);
$color-dark-300: rgb(140, 150, 162);
$color-dark-200: rgb(213, 217, 221);

$color-bright-500: rgb(238, 238, 238);
$color-bright-400: rgb(240, 241, 241);
$color-bright-300: rgb(244, 246, 249);
$color-bright-200: rgb(251, 251, 252);
$color-bright-100: rgb(255, 255, 255);

$color-green-400: rgb(92, 247, 151);


$text-color-bright-background: $color-dark-800;
$text-color-green-400-background: $color-dark-1000;