@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Open+Sans:wght@400;700&display=swap');
$text-font-family: 'Open Sans', sans-serif;
$title-font-family: 'Open Sans', sans-serif;
$title-font-weight: 400;
$title-font-weight-bold: 700;
$title-letter-spacing: -0.02rem;
$monospace-font-family: 'JetBrains Mono', monospace;