@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans/open-sans-v20-latin-regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans/open-sans-v20-latin-700.woff2') format('woff2');
  font-display: swap;
}
$text-font-family: 'Open Sans', sans-serif;
$title-font-family: 'Open Sans', sans-serif;
$title-font-weight: 400;
$title-font-weight-bold: 700;
$title-letter-spacing: -0.03rem;
$monospace-font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
