.page-meta {
  font-size: .8rem;
}

.page-header {
  color: $color-bright-100;
  background-color: $color-dark-600;
  padding-top: 2rem;
  padding-bottom: 2rem;

  .page-meta {
    color: $color-bright-200;
  }

  .page-description {
    font-size: 1rem;
  }
}

// -- Pages list -------------------------------------------------------------------------------------------------------

.pages-list {
  > li {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
      border-bottom: 0;
    }
  }
}

@media (max-width: $narrow-media-max-width) {
  .pages-flex {
    display: block;

    > li {
      margin-bottom: 2.5rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media (min-width: $wide-media-min-width) {
  .pages-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-top: -2.5rem;
    margin-left: -2rem;

    > li {
      flex: 0 1 50%;
      margin-top: 2.5rem;
      padding-left: 2rem;

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        padding-bottom: 0;
        border-bottom: 0;
      }
    }
  }
}

// -- Table of Contents -------------------------------------------------------------------------------------------------

@media (max-width: $narrow-media-max-width) {
  .post-partial {
    float: none;
  }

  .table-of-contents-toggle {
    text-align: center;
    margin: $small-gap auto 0 auto;
    display: block;
  }
}

@media (min-width: $wide-media-min-width) {
  .post-partial {
    float: left;
  }

  .table-of-contents-toggle {
    display: flex;   
    justify-content: flex-end; 
  }
}

.table-of-contents {
  text-align: center;

  #TableOfContents {
    margin:auto;
    text-align: left;
    display: none;
  }
}

// -- Bookmarks --------------------------------------------------------------------------------------------------------

.bookmarks {
  .description {
    margin-top: .8rem;
  }
}

// -- About the author -------------------------------------------------------------------------------------------------

.about-the-author {
  border: .15rem solid $color-dark-500;
  padding: 1.4rem 1.6rem;
  position: relative;

  &-title {
    $line-height: 1.8rem;
    display: inline-block;
    content: 'About the Author';
    font-family: $title-font-family;
    font-weight: $title-font-weight-bold;
    font-size: .9rem;
    color: $text-color-green-400-background;
    line-height: $line-height;
    background-color: $color-green-400;
    padding: 0 .4rem;
    position: absolute;
    top: calc(calc(#{$line-height} / 2) * -1)
  }

  &-name {
    @include formatHeading(.1rem);
  }
}
