@import '_colors';

.chroma { 
  background-color:  $color-bright-300;
  //line-height: 1.1rem;

  /* Other */ 
  .x { 
  }

  /* Error */ 
  .err { 
    // The syntax highlighting for Kotlin destruction declarations is failing
    // with errors. So we have to ignore errors for now.
    /*color: #a61717; 
    background-color: #e3d2d2;*/
  }

  /* LineTableTD */ 
  .lntd { 
    vertical-align: top;
    margin: 0;
    border: 0;
    
    &:nth-child(1) {
      border-right: 1px solid $color-dark-200;
    }

    &:nth-child(2) {
      width: 100%;
    }
  }

  /* LineTable */ 
  .lntable { 
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0; 
    padding: 0; 
    margin: 0; 
    border: 0; 
    display: block;
    overflow-x: auto;
    overflow-y: visible;
  }

/* LineHighlight */ .hl { display: block; width: 100%;background-color: #ffffcc }
/* LineNumbersTable */ .lnt {  }
/* LineNumbers */ .ln {  }
/* Keyword */ .k { color: $color-dark-800; font-weight: bold }
/* KeywordConstant */ .kc { color: $color-dark-800; font-weight: bold }
/* KeywordDeclaration */ .kd { color: $color-dark-800; font-weight: bold }
/* KeywordNamespace */ .kn { color: $color-dark-800; font-weight: bold }
/* KeywordPseudo */ .kp { color: $color-dark-800; font-weight: bold }
/* KeywordReserved */ .kr { color: $color-dark-800; font-weight: bold }
/* KeywordType */ .kt { color: $color-dark-800; font-weight: bold }
/* Name */ .n {  }
/* NameAttribute */ .na { color: $color-green-600; }
/* NameBuiltin */ .nb {  }
/* NameBuiltinPseudo */ .bp {  }
/* NameClass */ .nc {  }
/* NameConstant */ .no {  }
/* NameDecorator */ .nd {  }
/* NameEntity */ .ni {  }
/* NameException */ .ne {  }
/* NameFunction */ .nf {  }
/* NameFunctionMagic */ .fm {  }
/* NameLabel */ .nl {  }
/* NameNamespace */ .nn {  }
/* NameOther */ .nx {  }
/* NameProperty */ .py {  }
/* NameTag */ .nt { color: $color-dark-800; font-weight: bold }
/* NameVariable */ .nv {  }
/* NameVariableClass */ .vc {  }
/* NameVariableGlobal */ .vg {  }
/* NameVariableInstance */ .vi {  }
/* NameVariableMagic */ .vm {  }
/* Literal */ .l {  }
/* LiteralDate */ .ld {  }
/* LiteralString */ .s { color: $color-green-800 }
/* LiteralStringAffix */ .sa { color: $color-green-800 }
/* LiteralStringBacktick */ .sb { color: $color-green-800 }
/* LiteralStringChar */ .sc { color: #800080 }
/* LiteralStringDelimiter */ .dl { color: $color-green-800 }
/* LiteralStringDoc */ .sd { color: $color-green-800 }
/* LiteralStringDouble */ .s2 { color: $color-green-800 }
/* LiteralStringEscape */ .se { color: $color-green-800 }
/* LiteralStringHeredoc */ .sh { color: $color-green-800 }
/* LiteralStringInterpol */ .si { color: $color-green-800 }
/* LiteralStringOther */ .sx { color: $color-green-800 }
/* LiteralStringRegex */ .sr { color: $color-green-800 }
/* LiteralStringSingle */ .s1 { color: $color-green-800 }
/* LiteralStringSymbol */ .ss { color: $color-green-800 }
/* LiteralNumber */ .m { color: $color-green-800 }
/* LiteralNumberBin */ .mb { color: $color-green-800 }
/* LiteralNumberFloat */ .mf { color: $color-green-800 }
/* LiteralNumberHex */ .mh { color: $color-green-800 }
/* LiteralNumberInteger */ .mi { color: $color-green-800 }
/* LiteralNumberIntegerLong */ .il { color: $color-green-800 }
/* LiteralNumberOct */ .mo { color: $color-green-800 }
/* Operator */ .o {  }
/* OperatorWord */ .ow { font-weight: bold }
/* Punctuation */ .p {  }
/* Comment */ .c { color: #008800; font-style: italic }
/* CommentHashbang */ .ch { color: #008800; font-style: italic }
/* CommentMultiline */ .cm { color: #008800; font-style: italic }
/* CommentSingle */ .c1 { color: #008800; font-style: italic }
/* CommentSpecial */ .cs { color: #008800; font-weight: bold }
/* CommentPreproc */ .cp { color: #008080 }
/* CommentPreprocFile */ .cpf { color: #008080 }
/* Generic */ .g {  }
/* GenericDeleted */ .gd { color: #000000; background-color: #ffdddd }
/* GenericEmph */ .ge { font-style: italic }
/* GenericError */ .gr { color: #aa0000 }
/* GenericHeading */ .gh { color: #999999 }
/* GenericInserted */ .gi { color: #000000; background-color: #ddffdd }
/* GenericOutput */ .go { color: #888888 }
/* GenericPrompt */ .gp { color: #555555 }
/* GenericStrong */ .gs { font-weight: bold }
/* GenericSubheading */ .gu { color: #aaaaaa }
/* GenericTraceback */ .gt { color: #aa0000 }
/* GenericUnderline */ .gl { text-decoration: underline }
/* TextWhitespace */ .w { color: #bbbbbb }
}