@import '_layout', '_colors';
 
.chroma {
  pre {
    margin: 0;
    display: block;
    line-height: 1.6rem;

    code {
      font-size: .85rem;
      background-color: transparent !important;
      display: block;
      padding: 0;
    }
  }

  /* Error */ 
  .err { 
    // The syntax highlighting for Kotlin destruction declarations is failing
    // with errors. So we have to ignore errors for now.
    /*color: #a61717; 
    background-color: #e3d2d2;*/
  }

  /* LineTableTD */ 
  .lntd { 
    vertical-align: top;
    margin: 0;
    border: 0;

    &:nth-child(2) {
      width: 105%; // +5% for the first column, otherwise wide code lines would be cut off at the end 
      display: block;
    }
  }

  /* LineTable */ 
  .lntable { 
    background-color: $color-bright-300;
    border-radius: .2rem;
    padding: calc(#{$paragraph-gap} / 3) 0;

    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
    margin: 0; 
    display: block;
    overflow-x: auto;
    overflow-y: visible;

    tr, td {
      border: none;
      padding: 0;
      margin: 0;
    }

    *:focus {
      outline: none;
    }
  }

  /* Other */ .x {  }
  /* LineHighlight */ 
  .hl {
    display: block;
    width: 100%;
    background-color: rgb(255, 255, 219);
   }
  /* LineNumbersTable */ 
  .lnt {
    padding: 0 1rem;

    // If there is only one line, the margin collapses with the next 
    // column and there is no gap between the number and the code line.
    &:only-child {
      display: block;
    }
  }

  /* LineNumbers */ .ln { }
  /* Keyword */ .k { color: rgb(207, 34, 46) }
  /* KeywordConstant */ .kc { color: #000000 }
  /* KeywordDeclaration */ .kd { color: rgb(207, 34, 46) }
  /* KeywordNamespace */ .kn { color: #000000 }
  /* KeywordPseudo */ .kp { color: #000000 }
  /* KeywordReserved */ .kr { color: #000000 }
  /* KeywordType */ .kt { color: rgb(130, 80, 223) }
  /* Name */ .n {  }
  /* NameAttribute */ .na { color: rgb(5, 80, 174) }
  /* NameBuiltin */ .nb { color: #0086b3 }
  /* NameBuiltinPseudo */ .bp { color: #999999 }
  /* NameClass */ .nc { color: rgb(130, 80, 223) }
  /* NameConstant */ .no { color: rgb(5, 80, 174) }
  /* NameDecorator */ .nd { color: rgb(207, 34, 46) }
  /* NameEntity */ .ni { color: #800080 }
  /* NameException */ .ne { color: rgb(207, 34, 46) }
  /* NameFunction */ .nf { color: rgb(207, 34, 46) }
  /* NameFunctionMagic */ .fm {  }
  /* NameLabel */ .nl { color: rgb(207, 34, 46) }
  /* NameNamespace */ .nn { color: #555555 }
  /* NameOther */ .nx {  }
  /* NameProperty */ .py {  }
  /* NameTag */ .nt { color: #000080 }
  /* NameVariable */ .nv { color: rgb(5, 80, 174) }
  /* NameVariableClass */ .vc { color: rgb(5, 80, 174) }
  /* NameVariableGlobal */ .vg { color: rgb(5, 80, 174) }
  /* NameVariableInstance */ .vi { color: rgb(5, 80, 174) }
  /* NameVariableMagic */ .vm {  }
  /* Literal */ .l {  }
  /* LiteralDate */ .ld {  }
  /* LiteralString */ .s { color: rgb(10, 48, 105) }
  /* LiteralStringAffix */ .sa { color: rgb(10, 48, 105) }
  /* LiteralStringBacktick */ .sb { color: rgb(10, 48, 105) }
  /* LiteralStringChar */ .sc { color: rgb(10, 48, 105) }
  /* LiteralStringDelimiter */ .dl { color: rgb(10, 48, 105) }
  /* LiteralStringDoc */ .sd { color: rgb(10, 48, 105) }
  /* LiteralStringDouble */ .s2 { color: rgb(10, 48, 105) }
  /* LiteralStringEscape */ .se { color: rgb(10, 48, 105) }
  /* LiteralStringHeredoc */ .sh { color: rgb(10, 48, 105) }
  /* LiteralStringInterpol */ .si { color: rgb(10, 48, 105) }
  /* LiteralStringOther */ .sx { color: rgb(10, 48, 105) }
  /* LiteralStringRegex */ .sr { color: #009926 }
  /* LiteralStringSingle */ .s1 { color: rgb(10, 48, 105) }
  /* LiteralStringSymbol */ .ss { color: #990073 }
  /* LiteralNumber */ .m { color: #009999 }
  /* LiteralNumberBin */ .mb { color: #009999 }
  /* LiteralNumberFloat */ .mf { color: #009999 }
  /* LiteralNumberHex */ .mh { color: #009999 }
  /* LiteralNumberInteger */ .mi { color: #009999 }
  /* LiteralNumberIntegerLong */ .il { color: #009999 }
  /* LiteralNumberOct */ .mo { color: #009999 }
  /* Operator */ .o { color: #000000 }
  /* OperatorWord */ .ow { color: #000000 }
  /* Punctuation */ .p {  }
  /* Comment */ .c { color: rgb(110, 119, 129) }
  /* CommentHashbang */ .ch { color: rgb(110, 119, 129) }
  /* CommentMultiline */ .cm { color: rgb(110, 119, 129) }
  /* CommentSingle */ .c1 { color: rgb(110, 119, 129) }
  /* CommentSpecial */ .cs { color: rgb(110, 119, 129) }
  /* CommentPreproc */ .cp { color: rgb(110, 119, 129) }
  /* CommentPreprocFile */ .cpf { color: rgb(110, 119, 129) }
  /* Generic */ .g {  }
  /* GenericDeleted */ .gd { color: #000000; background-color: #ffdddd }
  /* GenericEmph */ .ge { color: #000000; font-style: italic }
  /* GenericError */ .gr { color: #aa0000 }
  /* GenericHeading */ .gh { color: #999999 }
  /* GenericInserted */ .gi { color: #000000; background-color: #ddffdd }
  /* GenericOutput */ .go { color: #888888 }
  /* GenericPrompt */ .gp { color: #555555 }
  /* GenericStrong */ .gs { font-weight: bold }
  /* GenericSubheading */ .gu { color: #aaaaaa }
  /* GenericTraceback */ .gt { color: #aa0000 }
  /* GenericUnderline */ .gl { text-decoration: underline }
  /* TextWhitespace */ .w { color: #bbbbbb }
}