$base-line-height: .8rem;
$paragraph-gap: .8rem;
$title-margin-top: calc(1rem + #{$paragraph-gap});
$normal-text-font-size: 1rem;
$normal-text-line-height: calc(#{$normal-text-font-size} + #{$base-line-height});

.text {
  color: $text-color-bright-background;

  p {
    margin: $paragraph-gap 0;
    font-size: $normal-text-font-size;
    line-height: $normal-text-line-height;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    color: $text-color-bright-background;
    text-decoration: none;
    border-bottom: 1px solid $text-color-bright-background;

    &:hover {
      // 'border-bottom: none;' would lead to a change in the line height if 
      // link has a multi line text.
      border-bottom-color: $color-green-400;
    }

    &:focus, &:active {
      outline: dashed 1px $color-dark-300;
      border-bottom-color: transparent;
    }

    &.image-link {
      display: inline-block;
      border-bottom: none;
    }
  }

  img {
    margin: 0 auto;
  
    &[src$='#center'] {
      display: block;
      margin: 0 auto;
    }
  }

  ul {
    margin-left: 1.7rem;
    margin-top: $paragraph-gap;

    li {
      list-style-type: square;
    }
  }

  ol {
    margin-left: 1.7rem;
    margin-top: $paragraph-gap;

    li {
      list-style-type: decimal;
    }
  }

  li { 
    list-style-position: inside;
    text-indent: -1.2rem;
    margin-bottom: $paragraph-gap;
    font-size: $normal-text-font-size;
    line-height: $normal-text-line-height;
  }

  blockquote {
    margin: 0;
    padding: $paragraph-gap;
    padding-left: 1rem;
    color: $color-dark-500;
    border-left: 2px solid $color-bright-500;

    p {
      padding: 0;
    }
  }

  code {
    font-family: $monospace-font-family;
    font-size: .8rem;
    background-color: $color-bright-400;
    padding: .2rem .3rem;
    word-break: break-word;
    overflow: hidden;
    border-radius: 2px;
  }

  .highlight {
    margin: $paragraph-gap 0;
    position: relative;

    .copyButton {
      position: absolute;
      right: 1rem;
      top: 1rem;
      display: none;
    }

    &:hover, &:active, &:focus {
      .copyButton {
        display: block;
      }
    }
  }

  table:not([class="lntable"]) { // Don't affect code block
    $normal-border: 1px solid $color-bright-500;

    margin: $paragraph-gap 0;
    font-size: $normal-text-font-size;
    line-height: $normal-text-line-height;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: $normal-border;
    display: block;
    overflow-x: auto;
    white-space: nowrap;

    &.narrow-table {
      overflow-y: auto;
      max-height: 20rem;
      position: relative;

      thead {
        position: sticky;
        top: 0;
      }
    }

    td { 
      padding: .4rem .6rem;
      border-right: 1px solid $color-bright-500;
      border-bottom: 1px solid $color-bright-500;

      &:last-child {
        border-right: 0;
        width: 100%;
      }
    }
  
    thead {
      background-color: $color-bright-300;

      th {
        font-size: .9rem;
        font-weight: bold;
        text-transform: uppercase;
        border-bottom: 2px solid $color-bright-500;
        border-right: 1px solid $color-bright-500;
  
        &:last-child {
          border-right: 0;
        }
      }
    }

    tbody {
      tr {
        border-bottom: $normal-border;

        &:nth-child(even) {
          background-color: $color-bright-200;
        }

        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }

  &-on-dark-background {
    $text-color-dark-background: $color-bright-100;
    color: $text-color-dark-background;

    a {
      color: $text-color-dark-background;
      border-bottom-color: $text-color-dark-background;
    
      &:focus, &:active {
        outline-color: $color-dark-300;
      }
    }

    code {
      color: $text-color-bright-background;
    }
  }

  &-small {
    p, ul, ol {
      font-size: calc(#{$normal-text-font-size} * .8);
    }
  }

  .tombstone {
    width: .6rem;
    height: .6rem;
    background-color: $color-dark-500;
  }
}