@use 'colors' as *;

$toast-bottom-position: 2rem;

#toast {
  position: fixed;
  left: 50%;
  bottom: $toast-bottom-position;
  z-index: 1;
  visibility: hidden;
  min-width: 10rem;
  margin-left: -5rem;
  padding: .5rem 1rem;
  background-color: $color-dark-500;
  color: $color-bright-100;
  text-align: center;
  font-size: .9rem;

  &.show {
    visibility: visible;
    -webkit-animation: fadein .5s, fadeout .5s 2.5s;
    animation: fadein .5s, fadeout .5s 2.5s;
  }
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: $toast-bottom-position;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: $toast-bottom-position;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: $toast-bottom-position;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: $toast-bottom-position;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}
