{{ define "main" }}

{{ partial "page-header.html" (dict "context" . "withPageMeta" "true" "showTableOfContents" "true" "postPartial" "tags.html" "postPartialParams" (dict "tags" .Params.tags "tagClassAttr" "button-like button-like-monospace button-like-size-m button-like-inverted-bright" "tagIsFromTaxonomy" "false")) }}

<div class="horizontal-wrapper-narrow vertical-wrapper-large with-safety-gap">
  <div class="text">
    {{ partial "single-content.html" .Content }}

    <div class="gap-paragraph">
      <div class="tombstone"></div>
    </div>
  </div>

  <div class="about-the-author gap-top-xl">
    <div class="about-the-author-title">About the Author</div>
    <div class="text gap-bottom-medium">
      <h2 class="about-the-author-name">{{ $.Site.Params.aboutTheAuthorName }}</h2>
      <p>{{ $.Site.Params.aboutTheAuthorDescription }}</p>
    </div>
    {{ partial "social-media.html" (dict "context" $.Site "linkClassAttr" "button-like button-like-monospace button-like-size-m button-like-inverted-dark") }}
  </div>
</div>

{{ end }}