RewriteEngine on

# Add trailing slash
## TODO removing trailing slash would be better but hugo does not support this yet
RewriteCond %{REQUEST_URI} !(/$|\.) 
RewriteRule (.*) %{REQUEST_URI}/ [R=301,L] 

# Remove www from host
RewriteCond %{HTTP_HOST} ^www\.(.+)
RewriteCond %{HTTPS}s/%1 ^(on(s)|offs)/(.+)
RewriteRule ^ http%2://%3%{REQUEST_URI} [L,R=301]

# Force HTTPS
RewriteCond %{HTTPS} =off
RewriteRule ^(login|foo|bar|?~@?)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]