@font-face {
  font-family: 'JetBrainsMono Regular';
  src: url('../fonts/JetBrainsMono-Regular.woff2') format('woff2');
  unicode-range: U+0020-007F;
}

body {
  background-color: rgb(0, 13, 26);
  color: rgb(255, 255, 255);
  font-family: 'JetBrainsMono Regular';
  font-size: 16px;
  text-align: center;
}

.content {
  padding: .5rem;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

a:link {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}
a:visited {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}
a:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
a:active {
  color: rgb(255, 255, 255);
  text-decoration: none;
  border: 1px dashed rgba(255, 255, 255, .5);
}