RewriteEngine on

Redirect /projects/intellij-byte-code-plugin https://github.com/marcelkliemannel/intellij-byte-code-plugin
Redirect /project/intellij-gradle-utilities-plugin https://github.com/marcelkliemannel/intellij-gradle-utilities-plugin

ErrorDocument 404 /404.html

# Add trailing slash
## TODO removing trailing slash would be better but hugo does not support this yet
RewriteCond %{REQUEST_URI} !(/$|\.) 
RewriteRule (.*) %{REQUEST_URI}/ [R=301,L] 

# Force HTTPS & reroute all other domains
RewriteCond %{HTTPS} off [NC,OR]
RewriteCond %{HTTP_HOST} !^marcelkliemannel\.com$ [NC]
RewriteRule ^(.*)$ https://marcelkliemannel.com$1 [R=301,L]