<head lang="{{ .Site.Params.metaLanguage }}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{ $description := (cond (ne .Params.summary nil) .Params.summary .Site.Params.metaDescription) }}
  <meta name="description" content="{{ $description }}">
  <meta name="author" content="{{ .Site.Params.metaAuthor }}">

  <link rel="apple-touch-icon" sizes="180x180" href="{{ "apple-touch-icon.png?v=3" | absURL }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "favicon-32x32.png?v=3" | absURL }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "favicon-16x16.png?v=3" | absURL }}">
  <link rel="manifest" href="{{ "site.webmanifest?v=3" | absURL }}">
  <link rel="shortcut icon" href="{{ "favicon.ico?v=3" | absURL }}">
  <meta name="msapplication-TileColor" content="#030b1c">
  <meta name="theme-color" content="#ffffff">

  {{ $mainCss := resources.Get "scss/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $mainCss.Permalink }}">
  {{ $iconmoonCss := resources.Get "css/iconmoon.css" | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $iconmoonCss.Permalink }}">

  {{ $title := (cond .IsHome .Site.Title (print .Title " | " .Site.Title)) }}
  <title>{{ $title }}</title>

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@{{ .Site.Params.twitterUser }}">
  <meta name="twitter:title" content="{{ $title }}">
  <meta name="twitter:description" content="{{ $description }}">

  {{ $indexPageRssFeed := (.GetPage "").OutputFormats.Get "rss" }}
  {{ printf `<link rel="%s" type="%s" href="%s" title="RSS Feed">` $indexPageRssFeed.Rel $indexPageRssFeed.MediaType.Type $indexPageRssFeed.Permalink | safeHTML }}
  <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ "sitemap.xml" | absURL }}">
</head>