<div class="page-header">
  <div class="horizontal-wrapper-narrow with-safety-gap">
    {{ if .withPageMeta }}
      {{ partial "page-meta.html" .context }}
    {{ end }}
    
    <h1 class="gap-top-small {{ if not (.Params.tags) }}gap-bottom-medium{{ end }}">{{ .context.Title }}</h1>

    {{ if (ne .context.Params.hideSummary true) }}
      {{ with .context.Params.summary }}
        <div class="page-description gap-bottom-medium">{{ . }}</div>
      {{ end }}
    {{ end }}

    <div class="group">
    {{ with .postPartial }}
      <div class="post-partial">
        {{ partial . (merge (dict "context" $.context) $.postPartialParams) }}
      </div>
    {{ end }}

    {{ if (eq .showTableOfContents "true") }}
      <div class="table-of-contents-toggle text text-on-dark-background text-small">
        <a href="#" class="button-like button-like-size-m table-of-contents-toggle-link"><i class="icon-menu"></i> Table of Contents</a>
      </div>
      <div class="table-of-contents text text-on-dark-background">
        {{ .context.Page.TableOfContents }}
      </div>
    {{ end }}
  </div>
  </div>
</div>