<div class="page-header">
  <div class="horizontal-wrapper-narrow with-safety-gap">
    {{ if .withPageMeta }}
      {{ partial "page-meta.html" .context }}
    {{ end }}

    <h1 class="gap-top-small {{ if not (.Params.tags) }}gap-bottom-medium{{ end }}">{{ .context.Title }}</h1>

    {{ with .context.Params.description }}
      <div class="page-description gap-bottom-medium">{{ . }}</div>
    {{ end }}

    {{ partial "tags.html" (dict "tags" .context.Params.tags "listClassAttr" "gap-top-large" "tagClassAttr" "button-like-inverted-bright") }}

    {{ with .postPartial }}
      {{ partial . (merge (dict "context" $.context) $.postPartialParams) }}
    {{ end }}
  </div>
</div>