<ul class="horizontal-links-menu group">
  {{ with .context.Site.Params.gitHub }}<li class="gap-top-paragraph"><a href="{{ . }}" target="_blank" {{ with $.linkClassAttr }} class="{{ . }}"{{ end }}><span class="icon-github"></span> GitHub</a></li>{{ end }}
  {{ with .context.Site.Params.stackOverflow }}<li class="gap-top-paragraph"><a href="{{ . }}" target="_blank" {{ with $.linkClassAttr }} class="{{ . }}"{{ end }}><span class="icon-stackoverflow"></span> Stack Overflow</a></li>{{ end }}
  {{ with .context.Site.Params.twitter }}<li class="gap-top-paragraph"><a href="{{ . }}" target="_blank" {{ with $.linkClassAttr }} class="{{ . }}"{{ end }}><span class="icon-twitter"></span> Twitter</a></li>{{ end }}
</ul>