<ul class="horizontal-links-menu group">
  {{ with .context.Site.Params.gitHubUser }}<li><a href="https://github.com/{{ . }}" target="_blank" rel="noopener noreferrer" {{ with $.linkClassAttr }} class="{{ . }}"{{ end }}><span class="icon-github"></span> GitHub</a></li>{{ end }}
  {{ with .context.Site.Params.xUser }}<li><a href="https://x.com/{{ . }}" target="_blank" rel="noopener noreferrer" {{ with $.linkClassAttr }} class="{{ . }}"{{ end }}><span class="icon-twitter"></span> X</a></li>{{ end }}
</ul>
