{{ define "main" }}

{{ partial "page-header.html" (dict "context" . "postPartial" "social-media.html" "postPartialParams" (dict "linkClassAttr" "button-like button-like-monospace button-like-size-m button-like-inverted-bright")) }}

<div class="horizontal-wrapper-narrow vertical-wrapper-large with-safety-gap">

  <h2 class="gap-bottom-medium">Articles</h2>

  {{ partial "tags.html" (dict "tags" .Site.Taxonomies.tags "tagClassAttr" "button-like button-like-monospace button-like-size-l button-like-inverted-dark" "tagIsFromTaxonomy" "true") }}

  {{ $paginator := .Paginate ((where .Site.RegularPages "Section" "articles")) }}
  {{ partial "page-list.html" (dict "context" $paginator.Pages "listClassAttr" "pages-flex" ) }}

  {{ partial "pagination.html" . }}
</div>

{{ end }}