{{ define "main" }}

{{ partial "page-header.html" (dict "context" . "postPartial" "social-media.html" "postPartialParams" (dict "linkClassAttr" "button-like button-like-monospace button-like-size-m button-like-inverted-bright")) }}

<div class="horizontal-wrapper-narrow vertical-wrapper-large with-safety-gap">

  <h2 class="gap-bottom-large">Latest Articles</h2>

  {{ partial "page-list.html" (dict "context" ( where site.RegularPages "Section" "articles" | first 8 ) "listClassAttr" "pages-flex" ) }}

  <div class="center gap-top-xl text">
    <b><a href="{{ (.Site.GetPage "/articles").Permalink }}">&raquo; Go to all articles</a></b>
  </div>
</div>

{{ end }}