@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon/icomoon.woff?p588la') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-gradle:before {
  content: "\e901";
}
.icon-jetbrains:before {
  content: "\e900";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-copy:before {
  content: "\e92c";
}
.icon-download3:before {
  content: "\e9c7";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-arrow-up2:before {
  content: "\ea3a";
}
.icon-github:before {
  content: "\eab0";
}
